.findField {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
}

.searchForm {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.searchInput {
  width: 350px;
}
